@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: "Open San", system-ui, sans-serif;
      font-size: 1rem;
      color: #272829;
      
    }
 }

.section-title-bar {
    @apply before:block  before:w-32 before:h-[1px] before:bg-[#ddd] before:bottom-12 before:absolute after:block  after:w-10 after:h-[3px] after:bg-[#0563bb] after:bottom-12 after:absolute pb-6 font-Raleway-font text-[32px] font-bold uppercase text-[#45505b]
}

.section-title h1::after{
    left:calc(50% - 20px);
}

.section-title h1::before{
    left:calc(50% - 60px);
}

.nav-menu > ul > li  {
    @apply p-4 rounded-full bg-[#f2f3f5] m-2 text-[#45505b] ;
}

.nav-menu > ul > li > a {
    @apply flex flex-row 
}

.typed-cursor {
    color: #2563eb;
    font-weight: 700;
    font-size: larger;
}

.aboutText ul li {
    @apply mb-2
}

.aboutText ul li strong {
    @apply mr-2
}

.resume-title{
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #45505b;
}

.resume-download{
    /* background: #0563bb;
    color: #fff;
    padding: 24px 20px;
    border-radius: 50%; */

    background-color: #0563bb;
    color: #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: absolute;
}

.body-section {
    @apply ml-[100px]
}

#resume .resume-item{
    @apply border-l-2 border-blue-500 pb-5 pl-5 mt-[-2px]
}
